html{
	background-color: aliceblue;
}

h1{
	font-family: "Nico Moji", sans-serif;
}

div {
	text-align: center;
}

p {
	font-family: "Hiragino Maru Gothic ProN", sans-serif;
	text-align: center;
	display: table;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-left:1em;
	padding-right:1em;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: lemonchiffon;
}

span{
	background-color: aquamarine;
}

:disabled.button_image{
	background: #9f9f9f;
	opacity: 1;
	cursor: no-drop;
}


button {
  height: 40px;
  text-decoration: none;
  line-height: 33px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
  background: #119de9;
}

.horizon{
	display: inline-block;
	width: 40%;
	height: 140px;
	background-color: white;
	margin: 1%;
	border-radius: 20px;
	border: 1px solid thistle;
	-webkit-box-shadow: 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
}

.image_center{
	text-align: center;
}